.container {
  width: 350px;
  height: 500px;
  background-color: #797978;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.10);
}
#height,
#weight {
  width: 100px;
  height: 20px;
  margin-top: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

#weight-guide {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

#results {
  font-size: 22px;
  margin-top: 12px;
  color: rgb(241, 241, 241);
  text-align: center;
}

button {
  width: 100px;
  height: 28px;
  margin: 18px auto 0 auto;
  display: block;
  background-color: #fff;
  padding: 1px 18px;
  border-radius: 6px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size: 16px;
  cursor: pointer;
}

h1 {
  padding-top: 18px;
  text-align: center;
  font-size: 22px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 15px;
}
p {
  text-align: center;
  margin: 6px 0;
  font-size: 14px;
}
